$def with(form, sylCount, status, haiku)
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Haiku</title>
		<script src="static/js/jquery-2.1.3.min.js"></script>
		<script src="static/js/actions.js"></script>
		<link rel="stylesheet" type="text/css" href="static/css/style.css">
	</head>
	<body>
		<h1 id="status">$status</h1>
		<form method="POST">
			<div id="haikuLine1">$haiku[0]</div><div id="sylCount1">$sylCount[0]</div>
			<div id="haikuLine2">$haiku[1]</div><div id="sylCount2">$sylCount[1]</div>
			<div id="haikuLine3">$haiku[2]</div><div id="sylCount3">$sylCount[2]</div>
			$:form.render()		
		</form>
	</body>
</html>
