$def with(form, sylCount, status, haiku)
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Haiku</title>
		<script src="static/js/jquery-2.1.3.min.js"></script>
		<script src="static/js/actions.js"></script>
		<link rel="stylesheet" type="text/css" href="static/css/normalize.css">
		<link rel="stylesheet" type="text/css" href="static/css/skeleton.css">
		<link rel="stylesheet" type="text/css" href="static/css/style.css">
	</head>
	<body>
		<center>
			<h1 id="status">$status</h1>
			<form method="POST" class="eleven columns">
				<h2 id="haikuLine1">$haiku[0]</h2>
				<h2 id="haikuLine2">$haiku[1]</h2>
				<h2 id="haikuLine3">$haiku[2]</h2>
				$:form.render()		
			</form>
		</center>
	</body>
</html>
